#cookieConsent {
    display: none;
    position: fixed;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #352acd;
    color: #fff;
    padding: 10px;
    z-index: 1000;
}

#cookieConsent button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
}

footer {
    background-color: #333;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pelis:hover {
    transform: scale(1.2);
    z-index: 100;
}

header {
    background-color: rgb(203, 170, 108);
    padding: 30px;
    margin-bottom: 30px;
}
.botones {
    display: flex;
    justify-content:space-between;
    align-items: center;
}

body {
    margin: 0;
    background-color: antiquewhite;
}

button {
    cursor: pointer;
}

.logo {
    display: flex;
    justify-content: center; 
    align-items: center;
}

.ajusteImagen {
    width: 150px; 
    height: 150px;
}

#peliculas {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.difuminado {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('./images/miyazaki2.jpg');
    background-size: cover;
    background-position: center;
    filter: blur(8px);
    z-index: 0;
}

.texto-encima {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 1; 
}

#biografia {
    position: relative;
    width: 100%;
    height: 400px; 
    overflow: hidden;
    margin: 30px;
}

.contenido {
    position: relative;
    z-index: 1; 
    color: white;
    text-align: center;
    padding: 20px;
}